<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./main_page.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  </head>
  <body>
      <div class="head">
          <div class="describe">
            <h1 class="title">Pictures</h1>
            <p>The internet source of freely usable images.
              Powered by creators everywhere.</p>
          </div>
          <img src="./assets/main_page.jpg"/>
      </div>
      <div class="down">
        <div class="pictures">
          <div class="img-container">
              <img src="./assets/show1.jpg">
          </div>
          <div class="img-container">
              <img src="./assets/show2.jpg">
          </div>
          <div class="img-container">
              <img src="./assets/show3.jpg">
          </div>
          <div class="img-container">
              <img src="./assets/show4.jpg">
          </div>
          <div class="img-container">
              <img src="./assets/show5.jpg">
          </div>
          <div class="img-container">
              <img src="./assets/show6.jpg">
          </div>
      </div>

      <div class="video-container">
        <video src="./assets/video.mp4" controls="controls">
        </video>
      </div>

  </body>
</html>